<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Your App</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="~/css/fontAwesome.css">

    <!-- Additional CSS -->
    <link rel="stylesheet" href="~/css/hero-slider.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/datepicker.css">
    <link rel="stylesheet" href="~/css/tooplate-style.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <!-- Logo and Company Name -->
            <a class="navbar-brand" href="/">
                <img src="~/img/logo.png" alt="Logo" height="30">
            </a>

            <!-- Toggler for mobile view -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Contact">Contact</a>
                    </li>
                    <li>
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <section class="banner" id="top">
        <div class="container">
            @RenderBody() <!-- Page content goes here -->
        </div>
    </section>

    <!-- Optional sections like weather, services, etc. from your template -->
    @RenderSection("CustomSection", required: false)

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <ul class="list-unstyled d-flex justify-content-center mb-3">
                <li class="ms-3"><a href="#" class="text-white"><i class="fa fa-facebook"></i></a></li>
                <li class="ms-3"><a href="#" class="text-white"><i class="fa fa-twitter"></i></a></li>
                <li class="ms-3"><a href="#" class="text-white"><i class="fa fa-linkedin"></i></a></li>
                <li class="ms-3"><a href="#" class="text-white"><i class="fa fa-rss"></i></a></li>
                <li class="ms-3"><a href="#" class="text-white"><i class="fa fa-behance"></i></a></li>
            </ul>
            <p class="mb-0">&copy; @DateTime.Now.Year Your App. All rights reserved.</p>
        </div>
    </footer>

    <!-- Bootstrap 5 JS and dependencies (Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false) <!-- Allow pages to add custom scripts -->
</body>
</html>
