@page "/ticket-details"
@model PRN___Final_Project.Pages.TicketDetailsModel
@{
}

@{
    ViewData["Title"] = "Ticket Details";
}

<div class="d-flex flex-column align-items-center justify-content-between container mt-5">
    <h2 class="text-center mb-4">Ticket Details for Booking #@Model.BookingId</h2>

    <div class="">
        @foreach (var ticket in Model.Tickets)
        {
            var originLocation = ticket.Booking.Flight.Origin.LocationName;
            var destinationLocation = ticket.Booking.Flight.Destination.LocationName;

            if (ticket.TicketType == "ReturnFlight")
            {
                var temp = originLocation;
                originLocation = destinationLocation;
                destinationLocation = temp;
            }

            <div class="py-5">
                <div class="box">
                    <div class="ticket">
                        <div class="py-2 d-flex">
                            <div class="px-5 col-8 d-flex align-items-center justify-content-between">
                                <span class="airline">PRN221 Airline</span>
                                <span class="boarding">Boarding pass</span>
                            </div>
                            <div class="col-4 d-flex align-items-center justify-content-center gap-3">
                                <span class="airline airlineslip">@ticket.ClassType</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="d-flex align-items-center">
                                <div class="col-8 d-flex align-items-center justify-content-center gap-5">
                                    <span class="jfk">@originLocation</span>
                                    <span class="plane">
                                        <?xml version="1.0" ?>
                                        <svg clip-rule="evenodd" fill-rule="evenodd" height="70" width="70" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="#222">
                                                <line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390" />
                                                <path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10" />
                                            </g>
                                        </svg>
                                    </span>
                                    <span class="sfo">@destinationLocation</span>
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-center gap-3">
                                    <span class="jfk jfkslip">@originLocation</span>
                                    <span class="plane planeslip">
                                        <?xml version="1.0" ?>
                                        <svg clip-rule="evenodd" fill-rule="evenodd" height="30" width="30" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                                            <g stroke="#222">
                                                <line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390" />
                                                <path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10" />
                                            </g>
                                        </svg>
                                    </span>
                                    <span class="sfo sfoslip">@destinationLocation</span>
                                </div>
                            </div>
                            <div class="sub-content">
                                <div class="py-2">
                                    <div class="row">
                                        <div class="px-5 col-8 d-flex align-items-center justify-content-between">
                                            <div>
                                                <div class="flight row">FLIGHT N&deg;</div>
                                                <h4 class="row fw-bold">@ticket.Booking.Flight.FlightNumber</h4>
                                            </div>
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="gate row">FLIGHT TYPE</div>
                                                <h4 class="row fw-bold">@ticket.TicketType</h4>
                                            </div>
                                            <div class="d-flex flex-column align-items-end">
                                                <div class="boardingtime row">BOARDING TIME</div>
                                                <h4 class="row fw-bold">@ticket.Booking.Flight.DepartureDateTime.ToString("dd-MM-yyyy hh:mm tt")</h4>
                                            </div>
                                        </div>
                                        <div class="px-5 col-4 d-flex align-items-center justify-content-between">
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="flight flightslip row">FLIGHT N&deg;</div>
                                                <h4 class="row fw-bold">@ticket.Booking.Flight.FlightNumber</h4>
                                            </div>
                                            <div>
                                                <div class="seat seatslip row">SEAT</div>
                                                <h4 class="row fw-bold">@ticket.SeatNumber</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="px-5 py-2 col-8 d-flex align-items-center justify-content-between">
                                            <div>
                                                <div class="name row">PASSENGER NAME</div>
                                                <h4 class="row fw-bold">@ticket.CustomerName</h4>
                                            </div>
                                            <div>
                                                <div class="seat row">SEAT</div>
                                                <h4 class="row fw-bold">@ticket.SeatNumber</h4>
                                            </div>
                                        </div>
                                        <div class="px-5 col-4 d-flex align-items-center justify-content-center">
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="name nameslip row">PASSENGER NAME</div>
                                                <h4 class="row fw-bold">@ticket.CustomerName</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="barcode"></div>
                        <div class="barcode slip"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
        background: #fff;
    }

    .ticket {
    position: relative;
    width: 600px;
    height: 250px;
    background: #ffe165;
    border-radius: 3px;
    box-shadow: 0 0 100px #aaa;
    overflow: hidden;
}

    .ticket:after {
        content: '';
    position: absolute;
    top: 0;
    right: 205px;
    height: 100%;
    width: 2px;
        box-shadow: inset 0 0 0 #ffe165, inset 0 -10px 0 #B56E0A, inset 0 -20px 0 #ffe165, inset 0 -30px 0 #B56E0A, inset 0 -40px 0 #ffe165, inset 0 -50px 0 #999999, inset 0 -60px 0 #E5E5E5, inset 0 -70px 0 #999999, inset 0 -80px 0 #E5E5E5, inset 0 -90px 0 #999999, inset 0 -100px 0 #E5E5E5, inset 0 -110px 0 #999999, inset 0 -120px 0 #E5E5E5, inset 0 -130px 0 #999999, inset 0 -140px 0 #E5E5E5, inset 0 -150px 0 #B0B0B0, inset 0 -160px 0 #EEEEEE, inset 0 -170px 0 #B0B0B0, inset 0 -180px 0 #EEEEEE, inset 0 -190px 0 #B0B0B0, inset 0 -200px 0 #EEEEEE, inset 0 -210px 0 #B0B0B0, inset 0 -220px 0 #ffe165, inset 0 -230px 0 #B56E0A, inset 0 -240px 0 #ffe165, inset 0 -250px 0 #B56E0A;
    }

    .ticket:before {
        content: '';
    position: absolute;
    top: 0;
    right: 205px;
    height: 100%;
    width: 2px;
        box-shadow: inset 0 0 0 #ffe165, inset 0 -10px 0 #F4D483, inset 0 -20px 0 #ffe165, inset 0 -30px 0 #F4D483, inset 0 -40px 0 #ffe165, inset 0 -50px 0 #FFFFFF, inset 0 -60px 0 #E5E5E5, inset 0 -70px 0 #FFFFFF, inset 0 -80px 0 #E5E5E5, inset 0 -90px 0 #FFFFFF, inset 0 -100px 0 #E5E5E5, inset 0 -110px 0 #FFFFFF, inset 0 -120px 0 #E5E5E5, inset 0 -130px 0 #FFFFFF, inset 0 -140px 0 #E5E5E5, inset 0 -150px 0 #FFFFFF, inset 0 -160px 0 #EEEEEE, inset 0 -170px 0 #FFFFFF, inset 0 -180px 0 #EEEEEE, inset 0 -190px 0 #FFFFFF, inset 0 -200px 0 #EEEEEE, inset 0 -210px 0 #FFFFFF, inset 0 -220px 0 #ffe165, inset 0 -230px 0 #F4D483, inset 0 -240px 0 #ffe165, inset 0 -250px 0 #F4D483;
    }

    .content {
        width: inherit;
        height: 170px;
        background: #eee;
    }

    .airline {
        font-family: Arial;
        font-size: 20px;
        font-weight: bold;
        color: rgba(0,0,102,1);
    }

    .boarding {
        font-family: Arial;
        font-size: 18px;
        color: rgba(255,255,255,0.6);
    }

    .jfk {
        font-family: Arial;
        font-size: 20px;
        color: #222;
    }

    .sfo {
        font-family: Arial;
        font-size: 20px;
        color: #222;
    }

    .sub-content {
        background: #e5e5e5;
        width: 100%;
        height: 100px;
    }

    .name {
        font-family: Arial Narrow, Arial;
        font-weight: bold;
        font-size: 14px;
        color: #999;
    }

        .name span {
            color: #555;
            font-size: 17px;
        }

    .flight {
        font-family: Arial Narrow, Arial;
        font-weight: bold;
        font-size: 14px;
        color: #999;
    }

        .flight span {
            color: #555;
            font-size: 17px;
        }

    .gate {
        font-family: Arial Narrow, Arial;
        font-weight: bold;
        font-size: 14px;
        color: #999;
    }

        .gate span {
            color: #555;
            font-size: 17px;
        }


    .seat {
        font-family: Arial Narrow, Arial;
        font-weight: bold;
        font-size: 14px;
        color: #999;
    }

        .seat span {
            color: #555;
            font-size: 17px;
        }

    .boardingtime {
        font-family: Arial Narrow, Arial;
        font-weight: bold;
        font-size: 14px;
        color: #999;
    }

        .boardingtime span {
            color: #555;
            font-size: 17px;
        }

    .barcode {
        height: 30px;
        width: 90px;
        position: absolute;
        bottom: 5px;
        background: #222;
        box-shadow: inset 0 1px 0 #ffe165, inset -2px 0 0 #ffe165, inset -4px 0 0 #222, inset -5px 0 0 #ffe165, inset -6px 0 0 #222, inset -9px 0 0 #ffe165, inset -12px 0 0 #222, inset -13px 0 0 #ffe165, inset -14px 0 0 #222, inset -15px 0 0 #ffe165, inset -16px 0 0 #222, inset -17px 0 0 #ffe165, inset -19px 0 0 #222, inset -20px 0 0 #ffe165, inset -23px 0 0 #222, inset -25px 0 0 #ffe165, inset -26px 0 0 #222, inset -26px 0 0 #ffe165, inset -27px 0 0 #222, inset -30px 0 0 #ffe165, inset -31px 0 0 #222, inset -33px 0 0 #ffe165, inset -35px 0 0 #222, inset -37px 0 0 #ffe165, inset -40px 0 0 #222, inset -43px 0 0 #ffe165, inset -44px 0 0 #222, inset -45px 0 0 #ffe165, inset -46px 0 0 #222, inset -48px 0 0 #ffe165, inset -49px 0 0 #222, inset -50px 0 0 #ffe165, inset -52px 0 0 #222, inset -54px 0 0 #ffe165, inset -55px 0 0 #222, inset -57px 0 0 #ffe165, inset -59px 0 0 #222, inset -61px 0 0 #ffe165, inset -64px 0 0 #222, inset -66px 0 0 #ffe165, inset -67px 0 0 #222, inset -68px 0 0 #ffe165, inset -69px 0 0 #222, inset -71px 0 0 #ffe165, inset -72px 0 0 #222, inset -73px 0 0 #ffe165, inset -75px 0 0 #222, inset -77px 0 0 #ffe165, inset -80px 0 0 #222, inset -82px 0 0 #ffe165, inset -83px 0 0 #222, inset -84px 0 0 #ffe165, inset -86px 0 0 #222, inset -88px 0 0 #ffe165, inset -89px 0 0 #222, inset -90px 0 0 #ffe165;
    }

    .slip {
        left: 455px;
    }

    .nameslip {
        top: 60px;
        left: 410px;
    }

    .flightslip {
        left: 410px;
    }

    .seatslip {
        left: 540px;
    }

    .jfkslip {
        font-size: 15px;
    }

    .sfoslip {
        font-size: 15px;
    }

    .planeslip {
        top: 10px;
        left: 475px;
    }

    .airlineslip {
        left: 455px;
    }
</style>