@page
@model PRN___Final_Project.Pages.CRUD.TicketManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].IssuedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Carryluggage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Baggage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].ClassType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Booking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carryluggage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baggage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.PaymentStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
