@page "/manage-flights"
@model PRN___Final_Project.Pages.CRUD.FlightManager.FlightManagerModel

@{
    ViewData["Title"] = "Manage Flights";
    Layout = "_DashboardLayout";
}

<h2>Manage Flights</h2>
<div class="mb-3">
    <input type="text" id="searchKey" class="form-control" placeholder="Search by FlightId or Plane or Pilot" onkeyup="searchBy()" />
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#flightModal" onclick="clearModal()">
    Add New Flight
</button>

<table class="table" id="flightTable">
    <thead>
        <tr>
            <th>Flight ID</th>
            <th>Flight Number</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Duration</th>
            <th>Base Price - VND</th>
            <th>Status</th>
            <th>Plane</th>
            <th>Pilot</th>
            <th>Available Normal Seats</th>
            <th>Available Vip Seats</th> 
            <th>Origin</th>
            <th>Destination</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flights)
        {
            <tr>
                <td>@item.FlightId</td>
                <td>@item.FlightNumber</td>
                <td>@item.DepartureDateTime</td>
                <td>@item.ArrivalDateTime</td>
                <td>
                    @{
                        var duration = item.ArrivalDateTime - item.DepartureDateTime;
                        var durationInMinutes = duration.TotalMinutes;
                        var hours = (int)(durationInMinutes / 60);
                        var minutes = (int)(durationInMinutes % 60);
                        <span>@($"{hours}h {minutes}m")</span>
                    }
                </td>
                <td>@string.Format("{0:N0}", item.BasePrice)</td>
                <td>@(item.Status ? "Available" : "Un Available")</td>
                <td>@item.Plane.PlaneName</td>
                <td>@item.Pilot.PilotName</td>
                <td>@item.AvailableNormalSeat</td>
                <td>@item.AvailableVipSeat</td>
                <td>@item.Origin.LocationName</td>
                <td>@item.Destination.LocationName</td>
                <td>
                    @* <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#flightModal"
                            onclick="setEditModal('@item.FlightId', '@item.FlightNumber', '@item.DepartureDateTime.ToString("yyyy-MM-ddTHH:mm:ss")', '@item.ArrivalDateTime.ToString("yyyy-MM-ddTHH:mm:ss")', '@item.BasePrice', '@(item.Status.ToString().ToLower())', '@item.Plane.PlaneId', '@item.Pilot.PilotId', '@item.AvailableNormalSeat', '@item.AvailableVipSeat', '@item.Origin.LocationID', '@item.Destination.LocationID')">
                        Edit
                    </button> *@
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"
                            onclick="setDeleteModal(@item.FlightId)">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Create/Edit Modal -->
<div class="modal fade" id="flightModal" tabindex="-1" aria-labelledby="flightModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flightModalLabel">Add/Edit Flight</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input type="hidden" id="FlightId" asp-for="Flight.FlightId" />
                    <input type="hidden" id="availableNormalSeat" asp-for="Flight.AvailableNormalSeat" />
                    <input type="hidden" id="availableVipSeat" asp-for="Flight.AvailableVipSeat" />
                    <div class="mb-3">
                        <label asp-for="Flight.FlightNumber" class="form-label">Flight Number</label>
                        <input id="FlightNumber" asp-for="Flight.FlightNumber" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Flight.DepartureDateTime" class="form-label">Departure Date</label>
                        <input id="DepartureDateTime" asp-for="Flight.DepartureDateTime" class="form-control" type="datetime-local" required />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Flight.ArrivalDateTime" class="form-label">Arrival Date</label>
                        <input id="ArrivalDateTime" asp-for="Flight.ArrivalDateTime" class="form-control" type="datetime-local" required />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Flight.BasePrice" class="form-label">Base Price</label>
                        <input id="BasePrice" asp-for="Flight.BasePrice" class="form-control" required />
                        <span asp-validation-for="Flight.BasePrice" class="text-danger"></span>

                    </div>


                    <!-- Available Seats Fields -->
                    @*                     <div class="mb-3">
                    <label asp-for="Flight.AvailableNormalSeat" class="form-label">Available Normal Seats</label>
                    <input id="availableNormalSeat" asp-for="Flight.AvailableNormalSeat" class="form-control" type="number" required />
                    </div>
                    <div class="mb-3">
                    <label asp-for="Flight.AvailableVipSeat" class="form-label">Available VIP Seats</label>
                    <input id="availableVipSeat" asp-for="Flight.AvailableVipSeat" class="form-control" type="number" required />
                    </div> *@


                    <div class="mb-3">
                        <label asp-for="Flight.Status" class="form-label">Flight Status</label>
                        <select id="Status" asp-for="Flight.Status" class="form-select" required>
                            <option value="">-- Select Status --</option>
                            <option value="true">On Time</option>
                            <option value="false">Delayed</option>
                        </select>
                        <span asp-validation-for="Flight.Status" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Flight.PlaneId" class="form-label">Plane Name</label>
                        <select id="PlaneId" asp-for="Flight.PlaneId" class="form-select" required>
                            @foreach (var plane in Model.Planes)
                            {
                                <option value="@plane.PlaneId">@plane.PlaneName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Flight.PilotId" class="form-label">Pilot Name</label>
                        <select id="PilotId" asp-for="Flight.PilotId" class="form-select" required>
                            @foreach (var pilot in Model.Pilots)
                            {
                                <option value="@pilot.PilotId">@pilot.PilotName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Flight.OriginID" class="form-label">Origin</label>
                        <select id="OriginId" asp-for="Flight.OriginID" class="form-select" required>
                            @foreach (var location in Model.Locations)
                            {
                                <option value="@location.LocationID">@location.LocationName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Flight.DestinationID" class="form-label">Destination</label>
                        <select id="DestinationId" asp-for="Flight.DestinationID" class="form-select" required>
                            @foreach (var location in Model.Locations)
                            {
                                <option value="@location.LocationID">@location.LocationName</option>
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this flight?
            </div>
            <div class="modal-footer">
                <form method="post" asp-page-handler="Delete">
                    <input type="hidden" name="id" id="deleteFlightId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="statusMessageModal" tabindex="-1" aria-labelledby="statusMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header @(Model.IsSuccess ? "bg-success text-white" : "bg-danger text-white")">
                <h5 class="modal-title" id="statusMessageModalLabel">@((Model.IsSuccess ? "Success" : "Error"))</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="statusMessageText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary @(Model.IsSuccess ? "bg-success" : "bg-danger")" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function setEditModal(id, flightNumber, departure, arrival, price, status, planeId, pilotId, availableNormalSeat, availableVipSeat, originId, destinationId) {
            document.getElementById("FlightId").value = id;
            document.getElementById("FlightNumber").value = flightNumber;
            document.getElementById("DepartureDateTime").value = departure;
            document.getElementById("ArrivalDateTime").value = arrival;
            document.getElementById("BasePrice").value = price;
            document.getElementById("Status").checked = status;
            document.getElementById("PlaneId").value = planeId;
            document.getElementById("PilotId").value = pilotId;
            document.getElementById("availableNormalSeat").value = availableNormalSeat;
            document.getElementById("availableVipSeat").value = availableVipSeat;
            document.getElementById("OriginId").value = originId;
            document.getElementById("DestinationId").value = destinationId;
        }

        function setDeleteModal(id) {
            document.getElementById("deleteFlightId").value = id;
        }

        function clearModal() {
            document.getElementById("FlightId").value = 0;
            document.getElementById("FlightNumber").value = '';
            document.getElementById("DepartureDateTime").value = '';
            document.getElementById("ArrivalDateTime").value = '';
            document.getElementById("BasePrice").value = '';
            document.getElementById("Status").value = 'On Time'; // Default status
            document.getElementById("PlaneId").value = 0;
            document.getElementById("PilotId").value = 0;
            document.getElementById("availableNormalSeat").value = null;
            document.getElementById("availableVipSeat").value = null;
            document.getElementById("OriginId").value = 0;
            document.getElementById("DestinationId").value = 0;
        }

        window.onload = function () {
            var statusMessage = '@Model.StatusMessage';
            var isSuccess = '@Model.IsSuccess'.toLowerCase() === 'true';

            if (statusMessage) {
                document.getElementById('statusMessageText').innerText = statusMessage;

                document.getElementById('statusMessageModalLabel').innerText = isSuccess ? "Success" : "Error";

                var modal = new bootstrap.Modal(document.getElementById('statusMessageModal'));
                modal.show();
            }
        }

        $(document).ready(function () {
            $('form').validate();
        });

        function validateAndSubmitForm() {
            const form = document.querySelector("#flightModal form");

            // Lấy giá trị từ các trường input bằng ID
            const originId = document.getElementById("OriginId").value;
            const destinationId = document.getElementById("DestinationId").value;
            const departureDateTime = new Date(document.getElementById("DepartureDateTime").value);
            const arrivalDateTime = new Date(document.getElementById("ArrivalDateTime").value);
            const basePrice = parseFloat(document.getElementById("BasePrice").value);

            // Biến để lưu trữ thông báo lỗi
            let errorMessage = "";

            // Kiểm tra các điều kiện
            if (originId === destinationId) {
                errorMessage = "Origin and Destination must be different.";
            } else if (departureDateTime >= arrivalDateTime) {
                errorMessage = "Departure time must be earlier than arrival time.";
            } else if (isNaN(basePrice) || basePrice <= 0) {
                errorMessage = "Base price must be greater than zero.";
            }

            // Hiển thị thông báo lỗi hoặc gửi form
            if (errorMessage) {
                alert(errorMessage); // Hiển thị lỗi qua alert
            } else {
                form.submit(); // Gửi form nếu không có lỗi
            }
        }

        function searchBy() {
            let input = document.getElementById("searchKey").value.toLowerCase();
            let table = document.getElementById("flightTable");
            let rows = table.getElementsByTagName("tr");

            for (let i = 1; i < rows.length; i++) { // Start from 1 to skip table header
                let flightIdCell = rows[i].getElementsByTagName("td")[0];
                let planeCell = rows[i].getElementsByTagName("td")[7];
                let pilotCell = rows[i].getElementsByTagName("td")[8];

                if (flightIdCell && planeCell && pilotCell) {
                    let flightId = flightIdCell.textContent || flightIdCell.innerText;
                    let plane = planeCell.textContent || planeCell.innerText;
                    let pilot = pilotCell.textContent || pilotCell.innerText;

                    rows[i].style.display = (
                        flightId.toLowerCase().includes(input) ||
                        plane.toLowerCase().includes(input) ||
                        pilot.toLowerCase().includes(input)
                    ) ? "" : "none";
                }
            }
        }


    </script>
}
